/* cdn fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* reset defalt css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: roboto;

    body{
        background: #ffeeee;
        color-scheme: light dark ;
        .container{
            max-width: 1024px;
            margin: auto;
            padding: 0.5em;
        }
    }
}
img{
    max-width: 100%;
}
/* necessary classes */
.w50{
    width: 50%;
}
.w100{
    width: 100%;
}
.bg-red{
    background: red;
}
.bg-blue{
    background: blue;
}
.flex{
    display: flex;
}
/* button style */
.primary-btn,
.secendary-btn{
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1.1em;
    background: #4f46e5;
    color: white;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    border-radius: 0.375em;
}
.secendary-btn{
    background: transparent;
    color: black;

    &:hover{
        text-decoration: underline;
    }
}
.view-portfolio-btn{
    color: #4f46e5;
    background: #ffeeee;
    padding: .8em 1.5em ;
    border: 1px solid ;
    border-radius: 0.3em;
    font-weight: bold;
    display: inline-block;
}

/* header section */
header{
    padding: 0.5em;
    background: #fffbeb;

    .container{
        display: flex;
        align-items: baseline;
        
        .logo{
            font-weight: bold;
            font-size: 1.5em;
        }
    }
}
.responsive-nav{
    display: flex;
    align-items: baseline;
    margin-left: auto;
}
nav{
    display: flex;
    margin-left: auto;
    gap: 1em;
    margin-right: 1em;

    & a{
        color: #333;

        &:hover{
            text-decoration: underline;
        }
    }

}

/* responsive icon part start */
.toggle{
    display: none !important;
}
#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
}
    
.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #7b52b9;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
 }
    
    /***** Collapse Animation *****/
    
.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,margin,transform;
    transition-delay: calc(0s + 0.35s),0s,0s;
}
    
.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: top,opacity;
    transition-duration: 0.35s,0s;
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}
    
.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
}
    
#checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 11px - 4px);
    margin-bottom: calc(11px + 4px/ 2);
    transform: rotate(45deg);
    transition-delay: calc(0s + 0.35s * .3),calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}
    
 #checkbox:checked + .toggle .bar--middle {
    top: calc(50% + 11px);
    opacity: 0;
    transition-duration: 0.35s,0s;
    transition-delay: 0s,calc(0s + 0.35s);
}
    
#checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-45deg);
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}


/* responsive icon part end */




/* Banner section */
.banner-section{
    background: #fffbeb;
    padding-block: 3em;

    .view-example-btn{
        font-size: 1em;
        color: #4f46e5;
        text-decoration: underline;

        &:hover{
            text-decoration: none;
        }
    }
    
    .features{
        padding: 1em 0;
        gap: 0.5em;

        .feature-card{
            display: flex;
            gap: 0.5em;
            align-items: center;

            & a{
                color: #333;
            }
        }
    }
}

/* features section */
section.features-section{
    padding: 3em 0;
    & h4{
        color: #4f46e5;
    }
    & h2{
        width: 40%;
        font-size: 1.7em;
        padding: 1em 0;
    }
    .feature-container{
        display: flex;
        gap: 2em;
        margin-bottom: 2em;

        .feature-box{
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em 0;

        }
    }

    .trial-box{
        display: flex;
        padding-inline: 2em;
        padding-top: 1.5em;
        background: #4f46e5;
        border-radius: 0.2em;

        .left{
            width: 45%;
            display: flex;
            flex-direction: column;
            padding-bottom: 2em;
            color: #ffeeee;

            & h2{
                width: 60%;
                padding-bottom: 0;
                font-size: 1.8em;
            }
            & p{
                padding: 1em 0;
                width: 80%;
                line-height: 1.5em;
            }
        }

        .right{
            width: 55%;
            display: flex;

        }
    }
    .feedback-box{
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, 1fr));
        overflow-x: scroll;
        margin-block: 3em;
        gap: 1.8em;

        .feedback-card{
            border: 1px solid #e3e3e3;
            padding:1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            justify-content: space-between;

            .author{
                align-items: center;
                gap: 0.5em;
            }

            & p{
                word-wrap: balance;
                line-height: 1.5em;
                color: #333;
            }
            & a{
                border: 1px solid #b8b3b3;
                text-align: center;
            }
        }
    }
}

/* Footer Seciton */

section.footer-section{
    background: #fffbeb;
    padding: 3em 0;

    .footer-nav{
        display: flex;
        gap: 1em;

        & h5{
            font-size: 1.1em;
        }
        .fiber{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        & p{
            line-height: 1.5em;
            padding-block: 0.1em;
            color: #333;
        }
    }
}


/* scrollbar styling... */
*::-webkit-scrollbar{
    width: 15px;
    height: 10px;
}
*::-webkit-scrollbar-track{
    background: rgb(49, 152, 49);
}
*::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, blue,red);
    border-radius: 1em;
}


/* Responsive */



@media all and (max-width:992px) {
    section{
        padding-inline: 1em !important;
    }
    
    /* smaller then 768px */
    @media all and (max-width: 768px) {
        body{
            position: relative;
        }
        .responsive-nav{
            display: none;
            width: 90vw;
            height: 100vh;
            z-index: 11;
            background: rgba(254, 254, 254, 0.165);
            backdrop-filter: blur(10px);
            position: fixed;
            top: 0;
            left: 0;
            transition: all 0.6s;
            box-shadow: 0 0 10em 20em rgba(0,0,0,0.2);

            & nav{
                gap: 3em;
                padding: 3em;
                flex-direction: column;

                & a{
                    font-size: 120%;
                    width: 100%;
                }
            }
            .primary-btn,
            .secendary-btn{
                transform: translate(calc(40vw - 100px),50vh);
            }
        }
        /* header section */
        header .container {
            justify-content: space-between;
        }
        .toggle{
            display: block !important;
        }
        /* banner secion */
        .banner-section .start-line{
            display: none;
        }

        /* footer */
        .footer-section .container .footer-nav{
           flex-direction: column;
           font-size: 110%;

            .fiber{
                width: 80% !important;
                word-wrap: balance;
            & p{
                padding-bottom: 1em;
            }
           }
        }


       /* smaller then 640px  */
        @media all and (max-width: 640px) {
            /* banner secion */
            .banner-section .container{
                display: flex;
                flex-direction: column-reverse;
            }
            .banner-section * :not( svg){
                width: 100%;
                text-align: center;
            }
            .features-section .container h2{
                width: 100%;
            }
            .features-section .container{
                .feature-container{
                    flex-direction: column;
                }
                .feedback-box{
                    display: flex !important;
                    flex-direction: column !important;
                    overflow: hidden;
                }
                /* trial box */
                .trial-box{
                    flex-direction: column;
                    .left,.right{
                        width: 100% !important;

                        & p{
                            width: 100% !important;
                            text-align: justify;
                        }
                        
                        & a{
                            width: 100% !important;
                            text-align: center !important;
                        }
                    }
                }
            }
        }
    }
}

.block{
    display: block !important;
}

/* ---------------------------------------------------------- */

/**
 * 
 * all code are writen by Soriful Chalehin. 
 * facebook: https://facebook.com/Chalehin
 * thank you.
 */